<html>
<head>
    <title>HomeFlavor | Backend</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-md-12">

                <br><br><br><br>
                <div class="page-title bg-light">
                    <div class="container">
                        <div class="row justify-content-center">
                            <h1 class="">Add New Image</h1>
                        </div>
                    </div>
                </div>
                <br><br><br>


                <form action="/gallery/add/save" method="post" enctype="multipart/form-data">

                    <div class="form-group row">
                        <label class="col-3 col-form-label">Image</label>
                        <div class="col-md-9 input-group">
                            <input type="file" name="post_Image" style="width:0;" id="hidden-file-chooser">
                            <button id="btn-file-choose" class="input-group-addon">Choose Image</button>
                            <img id="preview-image"/>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group row">
                        <div class="col-4" ></div>
                        <input type="submit" class="col-4 btn btn-outline-info" value="Add">
                        <div class="col-4" ></div>
                    </div>


                </form>

                <div id="space_before_footer">
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>


<script>
    function handleBrowseButton_Preview(ButtonId, HiddenInputId, previewImageId){
        $('#'+ButtonId).click(function (event) {
            event.preventDefault() ; // prevents the form from automatically submitting
            $('#'+HiddenInputId).click(); // actually clicks the file upload browse button


            $('#'+HiddenInputId).change(function(event){
              // this function is run when file is successfully selected by user
                console.log("yolo man") ;
                $('#preview-image').attr('src', URL.createObjectURL(event.target.files[0]));
                return false ;
            });


        }) ;
    }

    handleBrowseButton_Preview("btn-file-choose","hidden-file-chooser", "preview-image") ;
</script>





</html>
