<html>
<head>
    <title>HomeFlavor | Backend</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap_addon.css" >


    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_general_classes.css">
    <link rel="stylesheet" href="/css/default_style.css">
    <link rel="stylesheet" href="/css/my_personal.css">
</head>
<body>

{{>header}}
<section>

    {{>sidebar}}

    <div class="container-fluid t3-push" id="mainContainer">
        <div class="row">
            <div id = "main_Content" class="col-md-12 bg-grey">

                <br><br><br><br><br><br>







                <div id="Section_AddNewItemForm" class="card w-70" >
                    <div class="card-header">
                        <h3 class="ytext-heading">Gallery Item : {{galleryData.gallery_item_id}}</h3>
                    </div>
                    <div class="card-block">
                        <br>
                        <form action="process-add-new-gallery-item.php" method="post" enctype="multipart/form-data">


                            <div class="form-group row">
                                <label class="col-3 col-form-label">Image</label>
                                <div class="col-3"></div>
                                <div class="col-3 form-control">
                                    <img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{galleryData.gallery_item_image_name}}' class="img-fluid">
                                </div>
                                <div class="col-3"></div>
                            </div>

                            <br><br>


                            <div class="form-group row">
                                <label for="input-image-title" class="col-3 col-form-label">Image Title</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" type="text" value='{{galleryData.gallery_item_title}}' id="input-image-title" >
                                </div>
                            </div>

                            <br>

                        </form>
                    </div>
                </div>




                <div id="space_before_footer">
                    <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

</section>



{{>footer}}


</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap_addon.js" ></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>








</html>
