<tr class="bg-grey" >
    <th colspan="7">
        <div class="text-center">
            <p>There doesn't seem to be any data here
                <br> Why don't you add some ?
                {{{Note}}}
            </p>
        </div>
        <div style="width: 30%;margin-left: 35%;margin-right: 35%">
            <img src="/img/meme-thinking-cup.png" class="img-fluid" >
        </div>

    </th>
</tr>