<footer id="footer" class="bg-dark dark">

    <div>
        <a href="/"><img src="{{IMAGE_BACKENDFRONT_LINK_PATH}}logo-light.png" alt="" width="140" class="mt-5 mb-5"></a>
        <h4 class="text-white">Designed by Rafique Gagneja </h4>
        <h5 class="text-muted">&copy Gagneja  Inc. 2014-2017</h5>
    </div>
</footer>
<!-- Footer / End -->