<header>
    <div id="header" class="navbar fixed-top navbar-toggleable-md" style="background-color: #222;">
        <div class="t3-btn is-close"></div>
        <div class="navbar-space"></div>
        <a class="navbar-brand text-white" href="#">Admin | Gagneja's</a>
        <div class="navbar-space"></div>
    </div>
</header>
