{{#*inline "partial_head"}}
    <link rel = "stylesheet" href="/lib/bootstrap-toggle/bootstrap-toggle.css" >

{{/inline}}


{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-info icon-gradient bg-mean-fruit"></i>
                </div>
                <div>About Us
                    <div class="page-title-subheading">Put all the current offers in the restaurant on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials\arrange' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

    <div class="my-app-content">
        <div class="bg-faded">{{{aboutData.about_us1}}}</div>
        <br><br><br>
        <div class="form-group row">
            <div class="col-4" ></div>
            <a class=" col-4 btn btn-outline-info" href="/about/edit" > Edit this </a>
            <div class="col-4" ></div>
        </div>
    </div>

{{/template_base}}


{{#*inline "partial_body_script"}}
    <script type="text/javascript" src="/lib/bootstrap-toggle/bootstrap-toggle.js" ></script>

{{/inline}}
