/*
 * This is the class for the space that is shown between list items
 */
.highlight {
    background-color: #333333;
    width: 300px;
    padding: 5px ;
}

/*
 * This is the list which is hidden behind the original list whih provides the numbers
 */
.hidden-list-numbering li{
    color: black;
    font-weight: 700;
    padding: 5px 0;
    margin: 2px;
    width: 0;
    /*border: 0px solid black;*/
}
.ui-sortable-handle{
    /* **************** This class is automatically applied to li of sortable list ******* */
    background-color: #eee;
    color: #555;
    font-weight: 700;
    padding: 5px;
    margin: 2px;
    width: 300px;
    list-style-type: none;
    border: 1px solid darkgrey;

    /*position: relative;*/
    /*text-align: center;*/
    /*color: white;*/
    /*cursor: hand;*/
}

.ui-sortable{
    /* **************** This class is automatically applied to ol of sortable list ******* */
    list-style-type: none;
    cursor: pointer;

}