
.pwdMask {
    position: relative;
}

.pwdMask .pwd-toggle {
    color: #cccccc;
    position: absolute;
    z-index: 2;
}

.panel-login .pwdMask .pwd-toggle {
    top: 10px;
    right: 30px;
}


.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus {
    cursor: pointer;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle.fa-eye {
    color: #ddae71;
}

.panel-signup .term-policy a {
    text-decoration: underline;
}