{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-info icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    About
                    <div class="page-title-subheading">
                        Info about the restaurant history and its owners.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

    <div class="my-app-content" style="padding: 30px;">
        <div class="bg-faded">{{{aboutData.about_us1}}}</div>
        <br><br><br>
        <div class="form-group row">
            <div class="col-4" ></div>
            <a class=" col-4 btn btn-primary" href="/about/edit" > Edit this </a>
            <div class="col-4" ></div>
        </div>
    </div>

{{/template_base}}


{{#*inline "partial_body_script"}}

{{/inline}}
