<html>
<head>
    <title>Admin | Gagneja</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
    <link rel="stylesheet" href="/css/login.css">

</head>
<body class="bg-grey">


<div >
    <br>
    <div class="text-center">
        <p class="font-weight-bold" style="font-size: 55px">404  NOT FOUND</p>
        <img src="/img/meme-yuno.png" class="img-fluid" style="width: 20%">
        <br>
        <p class="font-weight-bold" style="font-size: 40px;">Y U NOT GO BACK </p>
            <a href="/" class="btn btn-danger">Go Back</a>
    </div>
    <br>
</div>



</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>

<script>

</script>







</html>
