<html>
<head>
    <title>Admin | Gagneja</title>
    <meta charset="utf-8">



    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/hybrid.min.css">

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/my_personal.css">
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>


<div class="bg-grey">
    <br>
    <div class="text-center">
        <img src="/img/meme-angry.png" class="img-fluid" style="width: 25%">
        <p>There Seems to be some kind of error here </p>
        {{#if showBackLink}}
            <a href="{{backLink}}" class="btn btn-danger">Go Back</a>
        {{/if}}
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 push-md-3">
            <pre>
                <code class="json">
{{toJSON error}}
                </code>
            </pre>
        </div>
    </div>
</div>



</body>
<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/my_personal.js"></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>

<script>
    hljs.initHighlightingOnLoad();

</script>







</html>
