{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-cog icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Settings
                    <div class="page-title-subheading">Change the default values and configuration for the project here
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->




    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="card">
            <div class="card-header justify-content-center">
                <div class="card-header-title">Restore Database Entries</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="Btn-DeleteImages" class="col-4 offset-4 btn btn-outline-info">Delete Images</div>
                </div>
                <div class="row">
                    <div id="Btn-DeleteTables" class="col-4 offset-4 btn btn-outline-info">Truncate Tables</div>
                </div>
                <div class="row">
                    <div id="Btn-RestoreImages" class="col-4 offset-4 btn btn-outline-info">Restore Images</div>
                </div>
                <div class="row">
                    <div id="Btn-RestoreTables" class="col-4 offset-4 btn btn-outline-info">Restore Table Data</div>
                </div>
            </div>
        </div>
        </div>
    </div>



{{/template_base}}


{{#*inline "partial_body_script"}}

<script>
    $('#Btn-DeleteImages').click(function () {
        fetch('/settings/delete-images',{
            method : 'POST',
            headers : {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'CSRF-Token': '{{_csrfToken}}'
            },
        })
        .then((response)=>response.json())
        .then((data)=>{
            if(data.status == true){
              makeToast('success', "Successfull in deleting images") ;

            }else{
              console.log(data) ;
                makeToast('error', "Error in deleting images") ;
            }
        })
        .catch((err)=>{
            console.log(err) ;
            makeToast('error', "Error in deleting images") ;
        }) ;
    }) ;

    $('#Btn-RestoreImages').click(function () {
        fetch('/settings/restore-images',{
            method : 'POST',
            headers : {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'CSRF-Token': '{{_csrfToken}}'
            },
        })
                .then((response)=>response.json())
                .then((data)=>{
                    if(data.status == true){
                        makeToast('success', "Successfull in restoring images") ;

                    }else{
                        console.log(data) ;
                        makeToast('error', "Error in restoring images") ;
                    }
                })
                .catch((err)=>{
                    console.log(err) ;
                    makeToast('error', "Error in restoring images") ;
                }) ;
    }) ;

    $('#Btn-DeleteTables').click(function () {
        fetch('/settings/truncate-tables',{
            method : 'POST',
            headers : {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'CSRF-Token': '{{_csrfToken}}'
            },
        })
                .then((response)=>response.json())
                .then((data)=>{
                    if(data.status == true){
                        makeToast('success', "Successfull in truncating tables") ;

                    }else{
                        console.log(data) ;
                        makeToast('error', "Error in truncating tables") ;
                    }
                })
                .catch((err)=>{
                    console.log(err) ;
                    makeToast('error', "Error in truncating tables") ;
                }) ;
    }) ;


    $('#Btn-RestoreTables').click(function () {
        fetch('/settings/restore-tables',{
            method : 'POST',
            headers : {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'CSRF-Token': '{{_csrfToken}}'
            },
        })
                .then((response)=>response.json())
                .then((data)=>{
                    if(data.status == true){
                      console.log(data.restoreSql) ;
                        makeToast('success', "Successfull in restoring tables") ;

                    }else{
                        console.log(data) ;
                        makeToast('error', "Error in restoring tables") ;
                    }
                })
                .catch((err)=>{
                    console.log(err) ;
                    makeToast('error', "Error in restoring tables") ;
                }) ;
    }) ;

</script>
{{/inline}}