{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-info icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Home
                    <div class="page-title-subheading">Put all the current offers in the restaurant on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials\arrange' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-sort" ></i></span>
                        Change Order
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->

    <div class="embed-responsive embed-responsive-3by4">
        <iframe class="embed-responsive-item" src="https://datastudio.google.com/embed/reporting/49ac9198-bc93-407a-831d-6fc86783bf25/page/E17MB" frameborder="0" style="border:0" >

        </iframe>
    </div>

{{/template_base}}


{{#*inline "partial_body_script"}}


{{/inline}}
