{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-gift icon-gradient bg-love-kiss"></i>
                </div>
                <div>
                    Offers & Specials
                    <div class="page-title-subheading">
                        Add a new Offer or promote a new product here
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='\specials' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="main-card card">
        <div class="card-body">
            <h3 class="card-title text-center">Add New Offer</h3>
            <form id="form-main" class="needs-validation" action="/specials/add/save?_csrf={{_csrfToken}}" method="post" enctype="multipart/form-data">



                <div class="form-group row">
                        <label for="input-offer-title" class="col-3 col-form-label">Offer Title</label>
                        <div class="col-md-9">
                            <input name="offerTitle" id="input-offer-title" class="form-control" type="text" >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="input-offer-message" class="col-3 col-form-label">Offer Message</label>
                        <div class="col-md-9">
                            <textarea name='offerMessage' id="input-offer-message" class="form-control" rows="3"  ></textarea>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-3 col-form-label">Offer Image</label>
                        <div class="col-md-9">
                            <button id="btn-file-choose" class="input-group-append btn btn-outline-primary" style="cursor: pointer;">Choose Image</button>
                            <div class="justify-content-center input-group">
                                <img id="preview-image" class="img-fluid"/>
                                <input id="hidden-file-chooser" name="post_Image" type="file" style="width:0;" >
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <div class="form-group row">
                        <div class="col-1"></div>
                        <a href="/specials" class="col-4 btn btn-danger">Cancel</a>
                        <div class="col-2"></div>
                        <input type="submit" class=" col-4 btn btn-success" value="Add">
                        <div class="col-1" ></div>
                    </div>

                </form>
        </div>
    </div>

    <br><br><br><br><br>
 {{/template_base}}


{{#*inline "partial_body_script"}}


<script>

    handleBrowseButton_Preview("btn-file-choose","hidden-file-chooser","preview-image") ;


    $('#form-main').validate({
        errorPlacement : (error, element)=>{
            //insert the label element after the parent div
            error.insertAfter(element) ;
            $(error).addClass('text-danger') ;

        },
        highlight: function(element) {
            // function is invoked on any input element when error occurs for that particular input
            $(element).addClass('is-invalid') ;

        },
        unhighlight: function(element) {
            $(element).removeClass('is-invalid') ;

        },
        success : (label, element)=>{
            $(element).addClass("is-valid") ;
        },
        rules : {
            offerTitle : {
                required : true,
                minlength : 3
            },
            offerMessage : {
                required : true,
                minlength : 10,
            },
            post_Image : {
                required : true,
                extension : 'jpg|jpeg|png|JPG|JPEG|PNG'
            },
        },
        messages : {
            offerTitle : {
                minlength : "The Offer Title must be atleast 3 characters"
            },
            offerMessage : {
                minlength : "The Offer Message must be atleast 10 characters",
            },
            post_Image : {
                required : "You must upload an image file",
                extension : 'The File has the wrong extension type. Only jpg, jpeg and png extensions are allowed'
            },
        },
    }) ;


</script>

{{/inline}}