{{#*inline "partial_head"}}
    <link rel = "stylesheet" href="/lib/bootstrap-toggle/bootstrap-toggle.css" >
{{/inline}}

{{#> template_base}}

    <!--Page Title-->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-book icon-gradient bg-night-fade"></i>
                </div>
                <div>
                    Add New Category
                    <div class="page-title-subheading">
                        Add the details to insert a new Category in the menu on this page
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href='/menu/category' class="mytheme-anchor">
                    <button type="button" class="btn-shadow btn btn-dark">
                        <span><i class="fa fa-arrow-left" ></i></span>
                        Go Back
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!--Page Title /End-->


    <div class="card">
        <div class="card-body">
            <form id="form-main" action="/menu/category/add/save?_csrf={{_csrfToken}}" method="post" enctype="multipart/form-data" >

                <br>
                <div class="form-group row">
                    <label for="input-category-name" class="col-3 col-form-label">Category Name</label>
                    <div class="col-md-9">
                        <input id="input-category-name" name="categoryName" class="form-control" type="text">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="input-category-active" class="col-3 col-form-label">Category Active</label>
                    <div class="col-md-9">
                        <input id="input-category-isActive-hidden" name="isCategoryActive" class="form-control" type="hidden" value="1"  >
                        <input id="input-category-isActive-presentation"  type="checkbox" class="form-control" checked="checked" data-toggle="toggle" data-width="100" data-onstyle="success" data-offstyle="danger" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" >
                    </div>
                </div>
                <br>

                <div class="form-group row">
                    <label  class="col-3 col-form-label">Category Image</label>
                    <div class="col-4 ">
                        <button id="btn-file-choose" class="input-group-append btn btn-outline-primary" style="cursor: pointer;">Choose Image</button>
                        <div class="justify-content-center input-group">
                            <img id="preview-image" class="img-fluid"/>
                            <input id="hidden-file-chooser" name="post_Image" type="file" style="width:0;" >
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="form-group row">
                    <div class="col-1"></div>
                    <a href="/menu/category" class="col-4 btn btn-danger">Cancel</a>
                    <div class="col-2"></div>
                    <input type="submit" class=" col-4 btn btn-success" value="Add">
                    <div class="col-1" ></div>
                </div>


            </form>
        </div>
    </div>



{{/template_base}}


{{#*inline "partial_body_script"}}
<script type="text/javascript" src="/lib/bootstrap-toggle/bootstrap-toggle.js" ></script>


<script>

    handleBrowseButton_Preview("btn-file-choose","hidden-file-chooser", "preview-image") ;
    setupCheckboxToggleButton('input-category-isActive-presentation', 'input-category-isActive-hidden') ;

    $('#form-main').validate({
        errorPlacement : (error, element)=>{
            //insert the label element after the parent div
            error.insertAfter(element) ;
            $(error).addClass('text-danger') ;

        },
        highlight: function(element) {
            // function is invoked on any input element when error occurs for that particular input
            $(element).addClass('is-invalid') ;

        },
        unhighlight: function(element) {
            $(element).removeClass('is-invalid') ;

        },
        success : (label, element)=>{
            $(element).addClass('is-valid') ;
        },
        rules : {
            categoryName : {
                required : true,
                minlength : 3
            },
            post_Image : {
                required : true,
                extension : 'jpg|jpeg|png|JPG|JPEG|PNG'
            },
        },
        messages : {
            categoryName : {
                minlength : "The category name should be a min of 3 characters"
            },
            post_Image : {
                required : "You must upload an image file",
                extension : 'The File has the wrong extension type. Only jpg, jpeg and png extensions are allowed'
            },

        },
    }) ;

</script>

{{/inline}}
